@keyframes revealTextFull {
  from {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.revealTextAnimation {
  overflow: hidden;
  display: block;
  white-space: normal;
  animation: revealTextFull 2s ease forwards;
}
